language: go
sudo: false

go:
  - "1.9"
  - "1.10"
  - "1.11"
  - "1.12"

before_install:
  - go get -d -v -t ./...
  - go get golang.org/x/lint/golint

script:
  - go test -race -coverprofile=coverage.out -covermode=atomic
  - golint -set_exit_status ./...

after_success:
  - bash <(curl -s https://codecov.io/bash)
